{
	"$schema": "https://json.schemastore.org/swcrc",
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"decorators": true
		},
		"target": "es2020",
		"paths": {
			"#lib/*": ["./lib/*"]
		},
		"baseUrl": "./src"
	},

	"module": {
		"type": "commonjs"
	}
}
