name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  formatting:
    name: Formatting
    uses: sapphiredev/.github/.github/workflows/reusable-prettier.yml@main

  linting:
    name: Linting
    uses: sapphiredev/.github/.github/workflows/reusable-lint.yml@main
